
###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=847792cc935e991b6d78046d8a9cef9f4b2c5d9633a667cef1b2b69a6f4ffeae
###< lexik/jwt-authentication-bundle ###
